@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Rubik";
  position: relative;

  background: var(--bg-black-900);
}

.main_content {
  margin: 0 0 0 20%;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  gap: 2rem;
}

.hidden {
  display: none !important;
}

.padd_15 {
  padding-inline: 1rem;
}

.flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 2200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scroll-snap-align: center;
}

/* #blob {
  background: linear-gradient(to right, orange, orangered, var(--skin-color));
  height: 25vmax;
  aspect-ratio: 1;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  animation: rotate 20s infinite;

  filter: blur(50px);
  opacity: 0.3;
  z-index: 1;
} */

@keyframes rotate {
  50% {
    scale: 1 1.5;
  }
}

/* scroll_watcher */
.scroll_watcher {
  height: 5px;
  width: 100%;

  position: fixed;
  top: 0;
  transform-origin: left;

  z-index: 1000;
  background-color: var(--skin-color);

  scale: 1% 1;

  animation: scroll_watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll_watcher {
  to {
    scale: 1 1;
  }
}

/* section css */

.section_title {
  padding-bottom: 1rem;
  flex: 0 0 100%;
}

.section_title h2 {
  font-size: 2.5rem;
  color: var(--text-black-900);
  font-weight: 800;
  position: relative;
}

.section_title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  bottom: 0;
  /* left: 0; */
}

.section_title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  /* bottom: -3; */
  /* left: 0; */
  bottom: -8px;
  left: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  color: azure;
  text-align: center;

  padding: 12px 35px;
  max-width: 100%;

  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  outline: none;
  background: var(--skin-color);

  cursor: pointer;

  transition: all 0.3s ease;
  z-index: 2;
}

.btn:hover {
  transform: scale(1.05);
}

.shadow_dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/*Aside*/

.aside {
  width: 18%;
  background: var(--bg-black-100);
  height: 100%;
  border-right: 1px solid var(--bg-black-50);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.aside .logo {
  position: absolute;
  top: 3.2rem;
  text-transform: uppercase;
  padding: 8px 20px;
}

.aside .logo::before {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 2rem;
  height: 2rem;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
}

.aside .logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 2rem;
  height: 2rem;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
}

.aside .logo a {
  position: relative;

  color: var(--text-black-900);
  font-weight: bold;
  font-family: "Clicker Script", cursive;
  font-size: 3em;
  text-align: center;
  letter-spacing: 10px;
}

.aside .nav {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
}

.aside .nav li:last-child {
  margin-bottom: 0px;
}

.aside .nav li a {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-black-900);

  display: block;
  border-bottom: 2px solid var(--bg-black-50);
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
}

.aside .nav li a:hover {
  color: var(--skin-color);
}

a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 0.5rem;
}

.aside .aside_links {
  position: absolute;
  bottom: 3.2rem;

  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.aside a {
  color: var(--skin-color);
}
.aside a:hover {
  /* font-size: 1.2rem; */
  text-decoration: underline;
  transition: all 0.3s ease;
}

h3 {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
}
h3.hello {
  font-size: 2rem;
  font-weight: 600;
}

h3.hello span {
  font-family: "Clicker Script";
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--skin-color);
}

.typing {
  color: var(--skin-color);
}

p {
  font-size: 1.1rem;
  padding-bottom: 1rem;

  color: var(--text-black-700);
}

/* About */
.about_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about .about_content .about_text h3 {
  font-size: 1.5rem;

  font-weight: 800;
  color: var(--text-black-900);
}

.about .about_content .about_text h3 span {
  color: var(--skin-color);
}

.about .about_content .about_text p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  color: var(--text-black-700);
}

.about .about_content .personal_info {
  flex: 0 0 60%;
  width: 60%;
  margin-top: 60px;
}

.about .about_content .personal_info .info_item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about_content .personal_info .info_item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 1rem;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about_content .personal_info .info_item p span {
  font-weight: 500;
  color: var(--text-black-700);
  display: block;
}

.about .about_content .personal_info .buttons {
  margin-top: 30px;
}

.about .about_content .personal_info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about_content .skills {
  flex: 0 0 40%;
  width: 40%;
  margin-top: 60px;
}

.about .about_content .skills .skill_items {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 20px;
}

.about .about_content .skills .skill_items h5 {
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
}

.about .about_content .skills .skill_items .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about_content .skills .skill_items .progress .progress_in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

.about .about_content .skills .skill_items .skill_percent {
  position: absolute;
  right: 0;
  top: -40px;
  color: var(--text-black-900);
  font-weight: 400;
  line-height: 40px;
}

.about .about_content .education,
.about .about_content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about_content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about_content .timeline_box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about_content .timeline_box .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;

  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about_content .timeline .timeline_item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about_content .timeline .timeline_item:last-child {
  padding-bottom: 0;
}

.about .about_content .timeline .timeline_item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about_content .timeline .timeline_item .circle_dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about_content .timeline .timeline_item .timeline_date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about_content .timeline .timeline_item .timeline_date .fa {
  margin-right: 5px;
}

.about .about_content .timeline .timeline_item .timeline_title {
  font-weight: 800;
  font-size: 1.3rem;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about_content .timeline .timeline_item .timeline_text {
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
  color: var(--text-black-700);
}

/* portfolio */

.portfolio .portfolio_heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio_heading h2 {
  color: var(--text-black-900);
  font-weight: 800;
}

.portfolio .portfolio_item {
  display: grid;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}

.portfolio .portfolio_item .portfolio_item_inner .link {
  position: absolute;
  inset: 0;
  z-index: 2;
  cursor: pointer;
}

.portfolio .portfolio_item .portfolio_item_inner {
  border: 2px solid var(--bg-black-50);
  background-color: var(--bg-black-100);
  padding: 20px 0;
  border-radius: 10px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.portfolio .portfolio_item .portfolio_item_inner:hover {
  border: 2px solid var(--skin-color);
}

.portfolio .portfolio_item .portfolio_item_inner h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--skin-color);
  margin: 10px auto 20px;
}

.portfolio .portfolio_item .portfolio_item_inner h4:hover {
  text-decoration: underline;
}

.portfolio .portfolio_item .portfolio_item_inner p {
  font-size: 1rem;
  color: var(--text-black-700);
  text-align: justify;
  line-height: 25px;
}

/* responsive */
@media (max-width: 2400px) {
  .mobile_contact {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: var(--skin-color);
    font-weight: 900;
    letter-spacing: 1px;
    padding-bottom: 1rem;
  }
  .portfolio .portfolio_item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 1260px) {
  .aside {
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;

    opacity: 0.5;
    border-bottom: 2px solid var(--bg-black-100);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aside .logo {
    position: relative;
    top: 5px;
    text-transform: uppercase;
    padding: 8px 20px;
  }

  .aside .logo::before,
  .aside .logo::after {
    display: none;
  }

  .aside .logo a {
    position: relative;
    color: var(--skin-color);
  }

  .aside .nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 0px;
  }

  .aside .nav li {
    margin-bottom: 0px;
  }

  .aside .nav li a {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-black-900);

    display: block;
    border-bottom: 0px;
    padding: 5px 15px;
  }

  .aside .aside_links {
    display: none;
  }

  .main_content {
    margin-left: 0px;
  }

  .section {
    padding-inline: 0.5rem;
  }
}

@media (max-width: 1080px) {
  .about .about_content .skills,
  .about .about_content .personal_info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 860px) {
  .portfolio {
    padding-top: 18vh;
  }

  h3 {
    font-size: 1.4rem !important;
    font-weight: 600 !important;
  }
  .aside .aside_links {
    display: none;
  }

  .aside .nav {
    position: absolute;

    left: -200%;

    text-align: center;
    margin: 0px;
    width: 100%;
    background: var(--bg-black-100);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s linear;
  }

  .aside .nav_transform {
    position: absolute;
    top: 12vh;
    left: 0;

    text-align: center;
    margin: 0px;
    width: 100%;
    background: var(--bg-black-100);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s linear;
  }

  .aside .nav li a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-black-900);
  }

  /* nav_toggler */
  .aside .nav_toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;

    margin-right: 1rem;

    border-radius: 5px;
    background: var(--bg-black-100);

    /* display: flex; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside .nav_toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
  }

  .aside .nav_toggler span::before {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: absolute;
    top: -6px;
  }

  .aside .nav_toggler span::after {
    content: "";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: absolute;
    bottom: -6px;
  }

  .contact .contact_form .col_6,
  .contact .flex_100,
  .portfolio .portfolio_item,
  .service .service_item,
  .about .about_content .education,
  .about .about_content .experience {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 624px) {
  .home .home_info p,
  .about .about_content .about_text p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem !important;
    font-weight: 600 !important;
  }
  p,
  input,
  span,
  a {
    font-size: 0.9rem;
  }
  .contact .contact_item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about .about_content .personal_info .info_item {
    flex: 0 0 70%;
    max-width: 70%;
  }
}

@media (max-width: 440px) {
  .padd_15 {
    padding-inline: 0.2rem;
  }

  .aside .nav li a {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-black-900);
    padding-block: 1rem;
  }

  .portfolio {
    padding-top: 12vh;
  }

  h3.hello {
    font-size: 1.8rem;
  }

  h3.hello span {
    font-size: 2.5rem;
  }

  h3.my_profession {
    font-size: 1.2rem;
  }
}
