.need_job {
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.need_job h1 {
  font-size: 2rem;
  /* font-style: italic; */
  cursor: help;
}

.white_heart {
  animation: beat 0.7s infinite;
  display: inline-block;
  cursor: cell;
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}

.cry_for_help {
  position: relative;
  display: inline-block;
  margin-top: 10dvh;
}

.cry_for_help img {
  max-width: 40dvw;
  /* max-height: 10vh; */
}

#image-popup {
  display: none;
  position: absolute;
  /* max-width: 80dvw; */
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  margin-top: 10px;

  border-radius: 8px;
  padding: 10px;
  background-color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.cry_for_help #hover-trigger:hover + #image-popup {
  display: block;
  opacity: 0.9;
  transform: translateX(120%) scale(1.05);
}
