.skill-bookshelf-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  perspective: 1200px;
}

.skill-bookshelf-title {
  color: var(--skin-color);
  margin-bottom: 20px;
  text-align: center;
}

.skill-description-panel {
  width: 90%;
  max-width: 800px;
  height: 15dvh;
  padding-top: 1.4rem;
  padding-bottom: 2.2rem;
  margin-bottom: 40px;
  /* background: rgba(0, 0, 0, 0.4); */
  border-radius: 10px;
  border: 1px solid var(--skin-color);
  color: var(--text-black-700);
  text-align: center;
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 624px) {
  .skill-description-panel {
    min-height: 8dvh;
  }
}

.skill-description-panel .skill-name {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.bookshelf {
  width: 100%;
  max-width: 900px;
}

@media (min-width: 992px) {
  .bookshelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 40px;
    max-width: 1200px;
  }
  .skill-description-panel {
    max-width: 1000px;
  }
}

.shelf {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid var(--skin-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.shelf-title {
  width: 100%;
  text-align: center;
  color: var(--text-black-700);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book {
  position: relative;
  width: 45px;
  height: 180px;
  margin: 0 3px;
  background-color: var(--book-color, #34495e);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
  cursor: pointer;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: place-book 0.6s forwards;
}

.book::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  filter: brightness(0.8);
  transform-origin: left;
  transform: rotateY(90deg) translateX(-22.5px) translateZ(22.5px);
  width: 120px;
}

.book:hover,
.book.is-active {
  transform: translateY(-20px) rotateX(10deg);
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.4);
}

@keyframes place-book {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
